@charset "utf-8";

body.bg { background:url(../images/bg_top.jpg) top center repeat-x;}
.mobileArea { display: none; }

.visual{ width:100%; height:180px; background-position:center;  }

#container {
*display:inline-block; width:1000px; overflow:hidden; margin: 0 auto 0; }
#container:after { display:block; clear:both; content:'' }

/* 왼쪽영역 */
.snb{ float:left; width:200px; margin-right:50px; margin-top: 45px; min-height: 100%; }
.snb  #title {'맑은 고딕'; color: #333333; font-size:24px; display:block; height:70px; padding-top:18px; padding-left:12px;font-weight:bold; letter-spacing:-2px;  background:url(../images/bg_subtitle.png); }

.snb  #sm { overflow:hidden;}
.snb  #sm a{ line-height:40px;font-family: '맑은 고딕'; color: #333333; font-size: 12px; font-weight:bold; display:block;padding-left:14px; border-bottom:1px #d1d1d1 solid; }
.snb  #sm li{  background-color:#fff; ;}
.snb  #sm li.active a{ color:#fff; background: url(../images/bg_nav_on.png)}

.snb  .banner li{ margin-top:20px;}



/* 상단타이틀영역 */
.titleArea { position:relative; width:750px; height:103px; border-bottom:1px #595959 solid; background-position:bottom right; background-repeat:no-repeat; }
.titleArea > #subtitle { position: absolute; font-family: '맑은 고딕'; font-weight:bold; font-size:34px; color:#343434; top: 24px; letter-spacing:-2px; }
.titleArea > .subtext {position: absolute; font-family: '맑은 고딕';  font-size:14px; color:#496c98; top:45px;  }
.titleArea > #map { position: absolute; left:4px; top:72px; color: #979797; font-size: 11px; background:url(../images/dot_home.png) no-repeat 0 0px; padding-left:18px; }


/* 컨텐츠영역 */
#content{ float:left; width:750px; margin-top:27px; }
#content .board{ margin: 35px 0 0 0; }
#content .wrapper{ margin: 35px 0 0 0; }
#content .wrapper2{ margin: 35px 0 0 0; padding-bottom:30px; border-bottom:1px #CCC dashed; }
#content .wrapper3{ margin: 35px 0 0 0; padding-bottom:40px; background:url(../images/line_01.png) repeat-x bottom;;}
#content h1 { color: #454545; font-size: 16px; line-height:29px;font-family: '맑은 고딕';  padding-bottom:0px; }
#content h2 { color: #454545; font-size: 16px; line-height:29px; background:url(../images/dot_title.png) no-repeat 0px 9px; font-family: '맑은 고딕'; padding-left:20px; padding-bottom:0px; }
#content h3 { color: #0067c6; font-size: 15px; line-height:29px; font-family: '맑은 고딕'; padding-left:20px; padding-bottom:0px; margin-top: 15px; }
#content .tbBottom { margin-top:5px; font-family: '맑은 고딕'; color: #333333; font-size: 12px; }
#content .text1 { margin-top:5px; font-family: '맑은 고딕'; color: #333333; font-size: 14px; line-height: 22px; }
#content .text2 { margin-left:20px; list-style:circle; font-family: '맑은 고딕'; color: #535353; font-size: 14px; margin-top:5px; line-height:23px; }
#content .img{ margin-top:7px; }


dl.topSummary { background-position:right top; background-repeat:no-repeat; overflow:hidden;}
dl.topSummary dt { font-family: '맑은 고딕'; color: #333333; font-size: 35px;}
dl.topSummary dd { font-family: '맑은 고딕'; color: #444; font-size: 14px; width:530px; margin-top:20px; line-height:24px;}
dl.topSummary dd strong { color:#884c05;}


.list1 { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
.list1 > li { margin-left:10px; padding-left:10px; background:url(../images/dot_title2.png) no-repeat 0px 9px; font-family: '맑은 고딕'; color: #484848; font-size: 13px; margin-top:10px; line-height:20px; }

ol.listNum { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
ol.listNum > li {  font-family: '맑은 고딕'; color: #484848; font-size: 13px; margin-top:10px; line-height:20px; }
ol.listNum > li > p{color: #555; font-size: 12px; margin:5px 0 15px 0; line-height:20px; }


ol.listAlpha { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
ol.listAlpha > li { list-style-type:lower-alpha;  font-family: '맑은 고딕'; color: #484848; font-size: 13px; margin-top:10px; line-height:20px; }
ol.listAlpha > li > p{color: #555; font-size: 12px; margin:5px 0 15px 0; line-height:20px; }

.webzine1 { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
.webzine1 > .pic{ float:left}
.webzine1 > .contents{ float:left; margin-left:34px; width:470px; }
.webzine1 > .contents > .title {font-family: '맑은 고딕'; color: #d81818; font-size: 16px;font-weight:bold; }
.webzine1 > .contents > .text {font-family: '맑은 고딕'; color: #535353; font-size: 14px; margin-top:5px; }
.webzine1 > .contents > .viewmore > a{ display:block;width:80px; line-height:20px; padding-bottom:3px; color:#FFFFFF;   background: #a5a5a5; margin-top:15px; text-align:center;font-family:'맑은 고딕' ; font-weight:bold; font-size:11px;}
.webzine1 > .contents > .viewmore > a:hover{ background: #000; }




/* 테이블 */
.tb1 { color: #535353; font-size: 14px; width:100%; border:0; padding:0; border-spacing:0;border-collapse:collapse;  font-family: '맑은 고딕';  }
.tb1 caption {color: #454545; font-size: 16px; line-height:29px; font-weight:bold; background:url(../images/dot_title.png) no-repeat 0px 9px;  padding-left:20px; text-align:left; }
.tb1 th,.tb1 td{border:1px #CCCCCC solid; padding:6px; }
.tb1 thead {background-color:#6893e1; color:#FFF; font-size:13px; font-weight:800;}
#content .tbBottom { margin-top:5px; font-family: '맑은 고딕'; color: #333333; font-size: 12px; }




/* 탭메뉴 */
#tabmenu{ position:relative;overflow:hidden; background:url(../images/tab_menu.gif) repeat-x bottom; font-family: '맑은 고딕'; font-weight:bold; font-size:15px; color:#000}
#tabmenu ul li,#tabmenu ul li a{ background:#efefef; }
#tabmenu ul li{float:left;line-height:44px; width:25%;}
#tabmenu ul li a{display:inline-block;width:100%; text-align:center; background-position: 100% 0;cursor:pointer;text-decoration:none !important}
#tabmenu ul li a:hover{color:#000}
#tabmenu ul li.on,#tabmenu ul li.on a{background:#3a8fe5; border-bottom: 1px #3a8fe5 solid;}
#tabmenu ul li.on a{color:#fff}

#tabcontent1{}
#tabcontent2{}
/* //탭메뉴 */





 @media all and (max-width:640px) {
.pcArea { display: none; }
.mobileArea { display: block; }
.mobileArea > .visual{ width:100%; height:90px; background-position:center; background-size:cover;  }

#container {
*display:inline-block; width:100%; overflow:hidden; margin: 0 auto 0; }


.snb{ float:none; width:100%; margin:0; margin-top: 0px;  }
.snb  #title { display:none; }
.snb  .banner { display:none; }
.snb  #sm {overflow:hidden; margin-top:0; border: none;background:#eef1f5;padding:7px; width:100%; box-sizing:border-box;display:block;  }
.snb  #sm li{float:left;width:25%; padding:0 5px 0px 0; box-sizing:border-box;  background-color:#efefef; margin:0; }
.snb  #sm a{width:100%; line-height:30px;font-size:0.9em; letter-spacing:-1px;margin:3px;color:#333; font-weight:bold; display:block;  background:#fff; border:1px #e4e4e4 solid;  box-shadow:1px 1px 0px rgba(0, 0, 0, 0.1); text-align:center; padding:0; }

.snb  #sm li.active a{ color:#fff; background:#464646;border:1px #464646 solid;}

#content{ float:left;width:100%; padding:10px 10px 0; box-sizing:border-box; margin:0; }

#content .wrapper, #content .wrapper2, #content .wrapper3 { margin-top:20px;}

/* 상단타이틀영역 */
.titleArea { position:relative; width:100%; height:56px; border-bottom:1px #969696 solid; background-size:120px; }
.titleArea > #subtitle {position: absolute; font-  family:sans-serif; font-weight:bold; font-size:1.4em; color:#343434; top:4px; }
.titleArea > #map { position: absolute; left:0px; top:35px; color: #979797; font-size: 11px; background:url(../images/dot_home.png) no-repeat 0 0px; padding-left:16px; }


}