<div class="wrapper">
		<div id="logo"><a href="/"><img src="{$tpl_path}/images/logo.png"  /></a></div>
		<div id="logoMobile"><a href="/"><img src="{$tpl_path}/images/logo_mobile.png"  /></a></div>
		
		<div id="topBtnMobile"><img src="{$tpl_path}/images/btn_m_menu.gif"  /></div>
		<div id="topBtn">
			<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/index.php?mid=community1" target="_blank">CONTACT US</a></li>
			
			
			<li><img widget="login_info" skin="miraelogin" /></li>
		
			</ul>
		</div>
		
		<div id="menu"> 
		
			<div class="homeArea">
				<div class="btnHome"><a href="index.html"><img src="{$tpl_path}/images/btn_m_home.png" width="63"></a></div>
				<div id="mobileNavClose"><img src="{$tpl_path}/images/btn_m_menu_close.png" width="26"></div>
			</div>

			<ul id="nav">
				<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
					</ul>
					<div class="clear"></div>
				</li>
			</ul>
			
			<!--@if($is_logged)-->
      <div class="bottomArea">
				<span class="leftArea">
				<a href="{getUrl('act','dispMemberLogout')}">로그아웃</a>
				</span>
				<span class="rightArea">
				<a href="{getUrl('mid','member','act','dispMemberInfo')}">회원정보</a>
				</span>
			</div> 
<!--@else-->
      <div class="bottomArea">
				<span class="leftArea">
				<a href="{getUrl('mid','member','act','dispMemberLoginForm')}">로그인</a>
				</span>
				<span class="rightArea">
				<a href="{getUrl('mid','member','act','dispMemberSignUpForm')}">회원가입</a>
				</span>
			</div> 
<!--@end-->
			
			
			
			
		</div>
	</div>